<li id='{{id}}' class='glide__slide catalog__articles-item'>
    <div class='catalog__articles-image-wrapper'>
        <img class='catalog__articles-image' src='{{url}}' alt='article' />
    </div>
    <div class='catalog__articles-info'>
        <div class='catalog__articles-date'>{{date}} - от автора</div>
        <div class='catalog__articles-titte'>{{title}}</div>
        <div class='catalog__articles-description'>{{description}}</div>
    </div>
    <button type='button' class='catalog__articles-link-wrapper btn'>
        <div class='catalog__articles-line'></div>
        <div class='catalog__articles-link'>ЧИТАТЬ ДАЛЕЕ</div>
    </button>
</li>