<li class='delivery__item {{headingPost}}'>
    <div class='delivery__item-text-block'>
        <div class='delivery__item-text-block-wrapper'>
            <h3 class='delivery__item-title'>{{title}}</h3>
            {{#if icon}}
                <figure class='delivery__icon-wrapper'>
                    <img class='delivery__item-icon' src='{{icon}}' alt='delivery-icon' />
                </figure>
            {{/if}}
            {{#if description}}
                {{#each description}}
                    <p class='delivery__item-description'>{{this}}</p>
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{#if altImage}}
        <div class='delivery__item-images'>
            <picture class='delivery__item-image'>
                <source srcset='{{image1920}}' media='(min-width: 1920px)' type='image/png' />
                <source srcset='{{image980}}' media='(min-width: 980px)' type='image/png' />
                <source srcset='{{image640}}' media='(min-width: 640px)' type='image/png' />
                <img src='{{image}}' alt='background' />
            </picture>
            <picture class='delivery__item-image'>
                <source srcset='{{altImage1920}}' media='(min-width: 1920px)' type='image/png' />
                <source srcset='{{altImage980}}' media='(min-width: 980px)' type='image/png' />
                <source srcset='{{altImage640}}' media='(min-width: 640px)' type='image/png' />
                <img src='{{altImage}}' alt='background' />
            </picture>
            {{#if thirdImage}}
                <picture class='delivery__item-image'>
                    <img src='{{thirdImage}}' alt='background' />
                </picture>
            {{/if}}
        </div>
    {{else}}
        <picture class='delivery__item-image one'>
            <source srcset='{{image1920}}' media='(min-width: 1920px)' type='image/png' />
            <source srcset='{{image980}}' media='(min-width: 980px)' type='image/png' />
            <source srcset='{{image640}}' media='(min-width: 640px)' type='image/png' />
            <img src='{{image}}' alt='background' />
        </picture>
    {{/if}}
</li>