<li class='personal__order-products-item'>
    <div class='personal__product-image-wrapper'>
        <img src='{{image}}' alt='product' class='personal__product-image' />
    </div>
    <div class='personal__product-info'>
        <div class='personal__product-brand'>{{brand_name}}</div>
        <p class='personal__product-description'>{{description}}</p>
        <div class='personal__product-size-color'>
            <div class='personal__product-size-color'>Размер: <span>{{size}}</span> / Цвет:</div>
            <div class='basket__product-color {{color}}'></div>
        </div>
    </div>
</li>