<li class='catalog__products-item'>
    <a href='./product.html' class='card'>
        <div class='card__image-block'>
            {{#if top}}
                <div class='card__top'>ТОП</div>
            {{/if}}
            <div class='card__icon-like'>
                <svg
                    class='likeLogo'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    xmlns='http://www.w3.org/2000/svg'
                >
                    <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M5.62436 4.4242C3.96537 5.18252 2.75 6.98623 2.75 9.1371C2.75 11.3345 3.64922 13.0282 4.93829 14.4798C6.00072 15.6761 7.28684 16.6676 8.54113 17.6346C8.83904 17.8643 9.13515 18.0926 9.42605 18.3219C9.95208 18.7366 10.4213 19.1005 10.8736 19.3648C11.3261 19.6293 11.6904 19.75 12 19.75C12.3096 19.75 12.6739 19.6293 13.1264 19.3648C13.5787 19.1005 14.0479 18.7366 14.574 18.3219C14.8649 18.0926 15.161 17.8643 15.4589 17.6346C16.7132 16.6676 17.9993 15.6761 19.0617 14.4798C20.3508 13.0282 21.25 11.3345 21.25 9.1371C21.25 6.98623 20.0346 5.18252 18.3756 4.4242C16.7639 3.68748 14.5983 3.88258 12.5404 6.02074C12.399 6.16763 12.2039 6.25064 12 6.25064C11.7961 6.25064 11.601 6.16763 11.4596 6.02074C9.40166 3.88258 7.23607 3.68748 5.62436 4.4242ZM12 4.45882C9.68795 2.39024 7.09896 2.10087 5.00076 3.05996C2.78471 4.07293 1.25 6.42503 1.25 9.1371C1.25 11.8026 2.3605 13.8361 3.81672 15.4758C4.98287 16.7889 6.41022 17.888 7.67083 18.8586C7.95659 19.0786 8.23378 19.292 8.49742 19.4999C9.00965 19.9037 9.55954 20.3343 10.1168 20.6599C10.6739 20.9854 11.3096 21.25 12 21.25C12.6904 21.25 13.3261 20.9854 13.8832 20.6599C14.4405 20.3343 14.9903 19.9037 15.5026 19.4999C15.7662 19.292 16.0434 19.0786 16.3292 18.8586C17.5898 17.888 19.0171 16.7889 20.1833 15.4758C21.6395 13.8361 22.75 11.8026 22.75 9.1371C22.75 6.42503 21.2153 4.07293 18.9992 3.05996C16.901 2.10087 14.3121 2.39024 12 4.45882Z'
                        fill='#313131'
                    />
                </svg>
            </div>
            <div class='card__image-wrapper'>
                <div class='card__image-primary'>
                    <img src='{{image}}' class='card__image' alt='product' />
                </div>
                <div class='card__image-secondary' hidden>
                    <img src='{{altImage}}' class='card__image card__image-alt' alt='alt-image' />
                </div>
            </div>
        </div>
    </a>
    <div class='card__description-block'>
        <div class='card__description'>
            <div class='card__pen'>
                <h3 class='card__title'>{{title}}</h3>
                <div class='card__pen-colors'>
                    {{#each colors}}
                        <label class='card__pen-color-label'>
                            <input type='radio' name='color' class='card__pen-color-input' />
                            <div class='card__pen-color' style='background-color: {{this}};'></div>
                        </label>
                    {{/each}}
                </div>
            </div>
            <div class='card__pen-sizes'>
                {{#each sizes}}
                    <label class='card__pen-size-label'>
                        <input type='radio' name='size' class='card__pen-size-input' />
                        <div class='card__pen-size'>{{this}}</div>
                    </label>
                {{/each}}
            </div>
            <span class='card__pen-price'>₽ {{price}}</span>
        </div>
        <button type='button' class='card__basket-button btn btn--black'>
            <svg
                class='basketWhiteLogo'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <path
                    d='M14.9995 11C15.5518 11 15.9995 10.5523 15.9995 10C15.9995 9.44771 15.5518 9 14.9995 9C14.4472 9 13.9995 9.44771 13.9995 10C13.9995 10.5523 14.4472 11 14.9995 11Z'
                    fill='white'
                />
                <path
                    d='M9.99951 10C9.99951 10.5523 9.5518 11 8.99951 11C8.44723 11 7.99951 10.5523 7.99951 10C7.99951 9.44771 8.44723 9 8.99951 9C9.5518 9 9.99951 9.44771 9.99951 10Z'
                    fill='white'
                />
                <path
                    fill-rule='evenodd'
                    clip-rule='evenodd'
                    d='M8.24951 5.27567V5C8.24951 2.92893 9.92844 1.25 11.9995 1.25C14.0706 1.25 15.7495 2.92893 15.7495 5V5.27567C16.4079 5.29605 16.9943 5.33261 17.5145 5.39818C18.7157 5.54961 19.6881 5.8682 20.4392 6.6018C20.6898 6.84656 20.9126 7.1183 21.1035 7.41205C21.6755 8.29247 21.7972 9.30842 21.7101 10.516C21.6249 11.6979 21.3281 13.1818 20.9515 15.0648L20.9324 15.1604C20.671 16.4673 20.463 17.5074 20.2056 18.3256C19.9405 19.1683 19.602 19.8497 19.0356 20.4017C18.8409 20.5915 18.6301 20.7643 18.4058 20.918C17.7535 21.3651 17.019 21.5634 16.1406 21.6581C15.2878 21.75 14.2272 21.75 12.8944 21.75H11.1048C9.772 21.75 8.71133 21.75 7.85855 21.6581C6.98019 21.5634 6.24565 21.3651 5.59336 20.918C5.36901 20.7643 5.15829 20.5915 4.96351 20.4017C4.39718 19.8497 4.05865 19.1683 3.79356 18.3256C3.53619 17.5074 3.32818 16.4673 3.0668 15.1604L3.04773 15.065C2.67109 13.1819 2.37429 11.698 2.28905 10.516C2.20195 9.30842 2.32366 8.29247 2.8957 7.41205C3.08656 7.1183 3.30933 6.84656 3.55995 6.6018C4.31108 5.8682 5.28343 5.54961 6.48469 5.39818C7.00487 5.33261 7.59113 5.29605 8.24951 5.27567ZM9.74951 5C9.74951 3.75736 10.7569 2.75 11.9995 2.75C13.2422 2.75 14.2495 3.75736 14.2495 5V5.2522C13.8253 5.24999 13.3775 5.25 12.905 5.25H11.0941C10.6216 5.25 10.1738 5.24999 9.74951 5.2522V5ZM4.608 7.67491C5.02245 7.27015 5.61597 7.01956 6.6723 6.88641C7.74319 6.75141 9.16181 6.75 11.1481 6.75H12.851C14.8373 6.75 16.256 6.75141 17.3269 6.88641C18.3832 7.01956 18.9767 7.27015 19.3911 7.67491C19.5626 7.84238 19.715 8.02831 19.8456 8.2293C20.1613 8.71507 20.2906 9.34622 20.214 10.4081C20.1363 11.4847 19.8595 12.8761 19.47 14.8238C19.1982 16.1827 19.005 17.1434 18.7747 17.8755C18.5494 18.5919 18.3099 19.0145 17.9887 19.3275C17.8554 19.4573 17.7113 19.5755 17.5578 19.6808C17.1879 19.9343 16.7266 20.0863 15.9799 20.1667C15.2168 20.249 14.2369 20.25 12.851 20.25H11.1481C9.76223 20.25 8.78236 20.249 8.01929 20.1667C7.27258 20.0863 6.81128 19.9343 6.44139 19.6808C6.28789 19.5755 6.14371 19.4573 6.01044 19.3275C5.6893 19.0145 5.4498 18.5919 5.22444 17.8755C4.99414 17.1434 4.80098 16.1828 4.52919 14.8238C4.13964 12.8761 3.86281 11.4847 3.78516 10.4081C3.70858 9.34622 3.83789 8.71507 4.15352 8.2293C4.28411 8.02831 4.43653 7.84238 4.608 7.67491Z'
                    fill='white'
                />
            </svg>
        </button>
    </div>
</li>